<div {{ attributes }}>
    {{ form_start(form) }}
        {{ form_row(form.editor) }}
        <textarea>{{ this.updatedText }}</textarea>
        <div>{{ this.updatedText }}</div>
    {{ form_end(form) }}
</div>
